@import "tailwindcss";

:root {
}

@theme inline {
  --spacing-custom-width: 1100px;
  --color-primary: #B9FF66;
  --color-dark-secondary: #191A23;
  --color-light-secondary: #F3F3F3;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
